.reveal .left {
	text-align: left;
}

.reveal .block {
	display: block;
}

.reveal .small-font {
	font-size: 0.7em;
}

.reveal .left-block {
	float: left;
	margin-top: 10%;
}

.reveal .right-block {
	float: right;
	margin-top: 10%;
}

.reveal .no-border {
	border: none;
    box-shadow: none;	
	background: none;
}